__pycache__/
.backup/
dist/
compile_commands.json
pyrightconfig.json
.cache/clangd/index
.ipynb_checkpoints
.DS_Store
.vscode
Tests/*/build
Tests/*/Pd4Web
Tests/*/WebPatch
Tests/*/CMakeLists.txt
Tests/*/favicon.ico
Tests/*/index.html
Tests/*/.git

build
Resources/Pd/pd4web.spec
Resources/Pd/.cache/clangd/index
Resources/Pd/cmake-format.yaml

Documentation/tests/**/Pd4Web/Externals
Documentation/tests/**/Pd4Web
Documentation/tests/**/CMakeLists.txt
Documentation/tests/**/.gitignore

Tests/Libraries/**/Pd4Web/
Tests/Libraries/**/WebPatch/
Tests/Libraries/**/build/
Tests/**/CMakeLists.txt

Tests/Basic/gui/Pd4Web
Tests/Basic/gui/WebPatch
Tests/Basic/gui/.gitignore
Tests/Basic/gui/favicon.ico
Tests/Basic/gui/index.html
Tests/Libraries/ambi~/.gitignore
Tests/Libraries/ambi~/favicon.ico
Tests/Libraries/ambi~/index.html
Tests/Libraries/else/else/
Sources/Compiler/.cache/clangd/index
