__pycache__/
.backup/
dist/
compile_commands.json
pyrightconfig.json
.cache/clangd/index
.ipynb_checkpoints
.DS_Store
Tests/*/Pd4Web
Tests/*/WebPatch
Tests/*/CMakeLists.txt
Tests/*/favicon.ico
Tests/*/index.html

