---
site_name: pd4web
docs_dir: Documentation
copyright: Copyright &copy 2024 | Charles K. Neimog | University of São Paulo.
theme:
  language: en
  logo: assets/icon-light.svg
  custom_dir: Documentation/overrides
  logo_dark_mode: assets/icon-dark.svg
  logo_light_mode: assets/icon-light.svg
  favicon: assets/favicon.svg
  name: material
  features:
    - navigation.top
    - navigation.sections
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - search.suggest
    - toc.integrate
    - toc.follow
    - navigation.instant
    - header.autohide
  palette:
    - media: (prefers-color-scheme)
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: white
      accent: light blue
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      accent: light blue
      primary: black
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.extra
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.tasklist
  - pymdownx.magiclink
  - pymdownx.highlight
  - abbr
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - footnotes
  - pymdownx.keys
repo_url: https://github.com/charlesneimog/pd4web
extra_css: [extra/extra.css]
extra_javascript: [js/index_slider.js]
nav:
  - Home: index.md
  - Compile your patch:
      - Intro: patch/install.md
      - Gui: patch/gui.md
      - Compilation: 
        - patch/compile.md
      - Website Templates: 
        - patch/Templates/index.md
        - Templates: 
          - patch/Templates/score.md
          - patch/Templates/hands.md

      - Problems: patch/problems.md
  - libraries.md
  - Pd4Web JavaScript Module: 
    - JavaScript Module: js/js.md
    - js/requirements.md
    - js/engine.md
    - js/receive.md
    - js/send.md
  - devs.md
 # - Examples: tests/
plugins:
  - search
  - exclude:
      glob: [tests/**/Pd4Web/**]
extra:
  #alternate:
  #  - name: English
  #    link: /en
  #    lang: en
  #  - name: Português
  #    link: /pt/
  #    lang: pt
  analytics:
    provider: google
    property: G-E81RWT6R4V
  social:
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/charlesneimog/
    - icon: fontawesome/brands/github
      link: https://www.github.com/charlesneimog/
    - icon: fontawesome/solid/paper-plane
      link: mailto:charlesneimog@outlook.com
