[tool.poetry]
name = "pd2wasm"
version = "1.0.8"
description = "pd2wasm convert a PureData patch to Wasm file."
authors = ["Charles K. Neimog <charlesneimog@outlook.com>"]
readme = "README.md"
homepage = "https://www.charlesneimog.com/PdWebCompiler"
repository = "https://github.com/charlesneimog/PdWebCompiler"
documentation = "https://www.charlesneimog.com/PdWebCompiler"

[tool.poetry.dependencies]
python = "^3.10"
pyyaml = "^6.0.0"
requests = "^2.31.0"

[tool.poetry.scripts]
pd2wasm = "pd2wasm:webpdPatch"

[build-system]
build-backend = "poetry.core.masonry.api"
