[tool.poetry]
name = "pd4web"
version = "1.2.2"
description = "pd4web compiles PureData patches with external objects for Wasm, allowing to run entire patches in web browsers."
authors = ["Charles K. Neimog <charlesneimog@outlook.com>"]
readme = "README.md"
homepage = "https://charlesneimog.github.io/pd4web"
repository = "https://github.com/charlesneimog/pd4web"
documentation = "https://www.charlesneimog.github.io/pd4web"

[tool.poetry.dependencies]
python = "^3.9"
pyyaml = "^6.0.0"
requests = "^2.31.0"

[tool.poetry.scripts]
pd4web = "pd4web:webpdPatch"

[build-system]
build-backend = "poetry.core.masonry.api"
