[project]
name = "pd4web"
version = "3.0.0a1"
description = "pd4web is a tool that compiles PureData patches with external objects for Wasm, allowing to run entire patches in web browsers."
authors = [{ name = "Charles K. Neimog", email = "charlesneimog@outlook.com" }]
readme = "README.md"
license-files = ["LICENSE"]
requires-python = ">=3.10"

[project.scripts]
pd4web = "pd4web:main"

[tool.setuptools]
package-dir = {"" = "build/dist"}
packages = ["pd4web"]
include-package-data = true

[tool.setuptools.package-data]
"pd4web" = ["**/*"]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"
